<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/"> Employee Skill Assessment</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/edit-skills">Edit Skill Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/edit-roles">Edit Job Roles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/edit-employees">Edit Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create-assessment">Create Assessment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view-assessments">View Assessment</a>
                </li>
            </ul>
            <span id="active-user" class="navbar-text">
                <!-- FIXME: this doesn't work until the user navigates to a different page -->
                <% if (user) { %>
                    <%= user.email %>
                <% } else { %>
                    Guest
                <% } %>
            </span>
        </div>
    </nav>
</header>
