<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/"> Employee Skill Assessment </a>
        <div class="navbar">
            <div class="navbar-nav">
                <a class="nav-link active" href="/">
                    Home <span class="sr-only">(current)</span>
                </a>
                <a class="nav-link" href="/edit-skills"> View Skill Groups </a>
                <a class="nav-link" href="#"> View Job Roles</a>
                <a class="nav-link" href="#"> View Employees</a>
                <a class="nav-link" href="#"> View Assessments</a>
            </div>
        </div>
    </nav>
</header>
